<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094653711042-o0n267urrqm9jjov7gnogbq1dahqi18m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094653711042-o0n267urrqm9jjov7gnogbq1dahqi18m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094653711042-ksiob2eljv2cd7m48nipue4iaij741in.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7m4swllQHCUKlITxzXKsYMAYFB9KRfps</string>
	<key>GCM_SENDER_ID</key>
	<string>1094653711042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esprit.esjourney</string>
	<key>PROJECT_ID</key>
	<string>esjourney-3e727</string>
	<key>STORAGE_BUCKET</key>
	<string>esjourney-3e727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094653711042:ios:4d12e7ed02215c2e9fe15b</string>
</dict>
</plist>